---
name: Kodi Addon-Check

on: [push, pull_request]

jobs:
  kodi-addon-checker:
    runs-on: ubuntu-latest
    name: Kodi addon checker
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ github.event.repository.name }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Run Addon checker
        run: uvx kodi-addon-checker --branch matrix ${{ github.event.repository.name }}
